body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, label, li {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  border-bottom: 3px solid #b3ccff;
  /* margin-bottom: 30px; */
  background-color: white;
  position: relative;
  z-index: 999;
}
.menu-item {
  color: #b3ccff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

footer {
  /* margin-top: 80px; */
  border-top: 3px solid #b3ccff;
  padding: 15px;
  text-align: center;
}


/* Home page */
.content {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 60vh;
}

.options {
  display: flex;
  justify-content: center;
}
.options .option {
  -webkit-box-shadow: 0px 0px 15px 0px rgb(233, 233, 233);
  -moz-box-shadow: 0px 0px 15px 0px rgb(233, 233, 233);
  box-shadow: 0px 0px 15px 0px rgb(233, 233, 233);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 20px;
  text-decoration: none;
}
.option img {
  width: 60px;
  height: 60px;

}
.option .img-container {
  height: 60px;
  padding: 30px;
  border-radius: 50%;
  border: 3px solid #b3ccff;
  margin-bottom: 30px;
}
.options .option h4 {
  text-decoration: none;
}

/* General forms style */

form {
  text-align: center;
}

.more-info {
  margin-top: 0;
  font-size: 12px;
}

input:not([type="file"]):not([type="select"]):not([type="number"]):not([type="color"]) {
  border: 1px solid #b3ccff;
  background-color: white;
  color: #b3ccff;
  padding: 8px 10px;
}
input[type="submit"] {
  font-weight: bold;
  outline: none;
}

/* Upload choose */
.upload-formats {
  text-align: center;
}


/* Listing */

.list-all-files {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  align-items: center;
}
.list-all-files a {
  padding: 10px 20px 10px 0;
}
.list-all-files .file-info {
  margin-top: 0;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: auto;
}

/* Controls */

.control-form {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  border: 1px solid #b3ccff;
  padding: 20px;
  align-items: center;
}

.control {
  margin: 10px;
}

.input[type="submit"] {
  margin: 15px;
}


/* Viewer play button */

.player.option {
  outline: none;
  border: none;
  background-color: transparent;
  position: fixed;
  left: 20px;
  top: 10vh;
}

.player.option .img-container, .player.option img {
  width: 40px;
  height: 40px;
  transition: 1s background-color;
  background-color: white;
}

.player.option:hover .img-container, .player.option:hover img {
  cursor: pointer;
  background-color: whitesmoke;
}

.player.option .play {
  display: none;
}

/* Animations + containers */



@keyframes linear-credits {
  from { transform: translateY(0);}
  to { transform: translateY(calc(-100%)); }
}

@keyframes star-wars {
  from {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  to { 
    top: -7500px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.to-animate {
  position: relative;
  overflow: hidden;
  height: 75vh;
}
.to-animate * {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.to-animate .content {
  min-height: 100vh;
  position: relative;
  top: 0;
  animation-name: linear-credits;
  animation-duration: 90s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  /* transform: translateY(0); */
  width: 70%;
  margin: auto;
  padding-top: 100px;
}

.to-animate.star-wars {
  display: flex;
  justify-content: center;
  perspective: 400px;
  font-size: 0.001%;
  line-height: 10;
  /* height:  80vh; */
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
}

.to-animate.star-wars .content {
  top: -100px; 
  transform-origin: 80% 100%;
  animation: star-wars 60s linear;
  font-size: 50px;
  width: 500%;
  height: calc(100vw + 300px);
  animation-fill-mode: forwards;
  
}

.error {
  color: red;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
